.galleryContainer {
	width: 100%;
	margin-bottom: 40px;
	align-items: flex-start;
}

.galleryContainer.marginTop {
	margin-top: 30px;
}

.header {
	width: 100%;
	margin-bottom: 15px;
	justify-content: space-between;
	align-items: flex-end;
}

.header h2, .header  p {
	margin-bottom: 0;
}

.seeAllDiv.seeAllGallery {
	width: fit-content;
	margin: 0;
}

.gallery {
	align-items: center;
	justify-content: space-between; 
}

.gallery .photo {
	width: 48%;
	height: min(25.5vw, 270px);
	position: relative;
	cursor: pointer;
}

.gallery .photo img, .gallery .photo video {
	width: 100%;
	height: 100%;
}

.photo:hover .thumbInfo h4 {
    text-shadow: 0 0 20px black;
}

.thumbInfo {
	width: 100%;
	padding: 5px;
	background: rgba(100, 100, 100, .6);
	color: white;
	position: absolute;
	bottom: 15px;
}

.thumbInfo h4 {
	margin-bottom: 5px;
    text-shadow: 0 0 10px black;
}