/* ================================================================= */

/* mobile */
@media (max-width: 770px) {
    .photosContainer {
        flex-direction: column;
    }
    .photosHalf {
        width: 100%;
    }
    .thumbInfo {
        font-size: 14px;
    }
    .showsCards .grid {
        grid-template-columns: auto!important;
        margin-top: 25px;
    }
    .card {
        width: 100%;
        height: 230px;
        display: flex;
    }
    .card:first-child {
        margin-top: 0;
    }
    .cardImg {
        width: fit-content;
        height: 230px;
    }
    .cardBody {
        width: 600px;
        height: 230px;
        align-items: flex-end;
    }
    .playVideo.flex img {
        width: 25%;
    }
    .contactInfo {
        font-size: 14px;
    }
    footer {
        width: 90%;
        font-size: 14px;
    }
    .footer {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .modal .thumbInfo {
        padding: 2px 0;
    }
    .modal .thumbInfo h4 {
        margin-bottom: 3px;
    }
}

@media (max-width: 550px) {
    .header {
        margin-bottom: 5px;
        flex-direction: column;
        align-items: flex-start;
    }
    .seeAllDiv.seeAllGallery {
        width: 100%;
        margin: 20px 0 0;
    }
    .seeAll.moreInfo {
        width: 100%;
    }
    .modal .container {
        width: 90%;
    }
    .modal .galleryModal {
        font-size: 14px;
    }
    .modal .thumbInfo {
        padding: 2px 0;
    }
    .modal .thumbInfo h4 {
        margin-bottom: 3px;
    }
    .thumbInfo {
        font-size: 12px;
    }
    .contact {
        flex-direction: column;
    }
    .contactInfo {
        width: 100%;
        align-items: flex-start;
    }
}

@media (max-width: 500px) {
    .prev, .next {
        padding: 10px;
        margin-top: -12px;
        font-size: 14px;
    }
    .dot {
        height: 12px;
        width: 12px;
    }
    .section {
        width: 90%;
    }
    .card {
        width: 100%;
    }
    .modal .galleryModal {
        font-size: 12px;
    }
    .galleryModal .thumbInfo {
        bottom: 5px;
    }
    footer {
        width: 90%;
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .gallery {
        flex-direction: column;
    }
    .gallery .photo {
        width: 100%;
        height: 50vw;
    }
    .galleryModal .grid {
        grid-template-columns: auto;
    }
    .thumbInfo {
        font-size: 16px;
    }
    .card {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .card {
        height: 410px;
        font-size: 16px;
        flex-direction: column;
    }
    .cardImg {
        width: 100%x;
        height: 150px;
    }
    .cardBody {
        width: 100%;
        height: 270px;
        align-items: flex-start;
    }
    .modal,
    .header {
        font-size: 14px;
    }
    .modal h2 {
        font-size: 16px;
    }
    .modal .thumbInfo {
        padding: 2px 0;
    }
    .modal .thumbInfo h4 {
        margin-bottom: 3px;
    }
    .modal .topBar .exitButton {
        width: 28px;
        height: 28px;
    }
    .contact {
        padding: 10px
    }
    .footer {
        height: 50px;
        font-size: 12px;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 350px) {
    .photosContainer {
        font-size: 14px;
    }
    .galleryModal .grid {
        padding: 15px;
        gap: 15px;
    }
    .thumbInfo {
        font-size: 14px;
    }
    .contactInfo {
        font-size: 12px;
    }
    .contactOption img {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 300px) {
    .thumbInfo {
        font-size: 12px;
    }
}