.iframeContainer {
	width: 100%;
}

.iframeContainer iframe {
	width: 100%;
	height: min(50vw, 540px);
}


.tableContainer {
    width: 100%;
    margin-top: 20px;
    border-radius: 15px;
    border: var(--border);
    overflow: hidden;
}

table {
    width: 100%;
    border-spacing: 7px;
    border-collapse: collapse;
}

table th,
table td {
    width: 50%;
    padding: 13px;
}

table th {
    border-bottom: var(--border);
}

table td {
    padding-left: 25px;
    border: var(--border);
}

table tr td:first-child {
    border-left: none;
}

table tr td:last-child {
    border-right: none;
}

table tr:last-child td {
    border-bottom: none;
}